# These owners will be the default owners for everything in the repo
* @kritipandey125412

# Backend code owners
/backend/ @kritipandey125412

# Frontend code owners
/frontend/ @kritipandey125412

# Admin dashboard code owners
/admin/ @kritipandey125412